body{
    font-family: 'Overpass', sans-serif;
}
#main{
    display: inline-block;
    height: 100%;
    overflow: auto;
    padding: 30px;
    box-sizing: border-box;
    font-size: 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: grey;
    margin-right: -450px;
    transition: 0.6s;
    z-index: 1;
}
h1{
    letter-spacing: 5px;
}
.dirElem{
    margin-left: 30px;
    display: block;
    margin-top: 9px;
    margin-bottom: 5px;
}
#code{
    color: black;
    margin: auto;
    width: 390px;
    min-height: 200px;
}
#menu{
    width: 42px;
    height: 42px;
    background-color: red;
    position: fixed;
    right: 18px;
    top: 10px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    box-sizing: border-box;
}
#menu i{
    position: relative;
    top: 6px;
    left: 7px;
}
#close{
    width: 42px;
    height: 42px;
    background-color: red;
    position: absolute;
    right: 18px;
    top: 10px;
    padding-bottom: 0px;
    padding-left: 11px;
    padding-right: 5px;
    padding-top: 1px;
    box-sizing: border-box;
}
#tools{
    position: relative;
    width: 390px;
    height: 54px;
    background-color: grey;
    bottom: 10px;
    padding: 10px;
    padding-left: 14px;
    padding-bottom:13px;
}
input{
    padding: 10px;
    margin: 10px;
    border: 1px solid;
    background-color: red;
    font-size: 16px;
    letter-spacing: 4px;
    color: white;
    max-lines: 2;
}
button{
    padding: 9px;
    border: 1px solid white;
    background-color: red;
    font-size: 17px;
}
label{
    font-size: 19px;
}